.font-style {

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
 main{
   background-color: rgb(250, 253, 255);
 }

.background-image {
    background-image: url(images/Hero-bg.png);
    height: 698px;
    width: 100%;

}

nav {
    padding: 10px 50px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

ul {
    list-style: none;
}

.logo-primary {
    font-size: 34px;
    font-weight: 800;
    color: rgba(78, 71, 255, 1);
}

.btn-primary {
   background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: white;
    color: rgba(78, 71, 255, 1);
    border: 1px solid #4E47FF;
}

.titel-header-ui {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.titel-header {
    padding: 120px 267px 152px 267px;
    text-align: center;
}



.see-it-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;

}

.picture-web {
    border-radius: 48px;
    height: 328px;
    width: 403px;
}

.action-body {
    padding: auto;
}

.action-header {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.action-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);

}

.action-button {
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    width: 230px;
    height: 48px;
    border: none;
    font-weight: bold;
}

.action-button:hover {
    background-color: white;
    color: rgba(78, 71, 255, 1);
    border: 1px solid #4E47FF;
}

.user-column {
    background-color: rgba(78, 71, 255, 0.1);
    margin: 100px;
    padding: 30px;
}

.user-titel {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.user-statistic {
    display: flex;
    justify-content: space-around;
}

.user-number {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 10px;
}

.number-description {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.user-says-titel {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.user-container {
    height: 243px;
    width: 366px;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px;
    border: 1px solid rgba(242, 237, 237, 1);
    padding: 10px;
}

.reviewer-card {
    display: flex;
    justify-content: space-between;
    padding: 25px 120px;
    margin-bottom: 50px;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.reviewer-name-date p {
    color: rgba(0, 0, 0, 0.5);
}


 .webflow-titel{
  padding:20px;
  text-align: center;
}

.webflow-titel h4{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.webflow-titel p{
  color: rgba(0, 0, 0, 0.5);
}
.webflow img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
    margin: 0 325px  ;
} 

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form h4{
    font-size: 97px;
    font-weight: bold;
}

.form-column{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.form-column h1{
  font-size: 97px;
  font-weight: bold;
}

input[type="Email"],input[type="text"],input[type="massege"]{
    width:497px ;
    height: 70px;
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px dotted rgba(214, 221, 237, 1);
}
input[type="massege"]{
    height: 135px;
    
}

.Submit{
    width: 547px;
    height: 62px;
}

.footer{
    text-align: center;
    padding: 50px;
}
.footer-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 10px;
}

.footer p{
    color: rgba(137, 135, 161, 1);
    font-size: 20px;
}

.list ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: #8987A1;
    padding: 0 10px;

}